* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    height: 100vh;
    background: #E5E5E5;
}

.Project {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

}

.Sidebar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: #FFFFFF;
    padding: 20PX;
}

.update {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.update p {
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    color: #2D3A45;
}

.sidebar-main {

    width: 600px;
    background: #E5E5E5;
    padding: 10px;
    border-radius: 10px;
}

.search {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
}

.search input {
    border: none;
    outline: none;
    font-size: 16px;
    background: transparent;
    color: #2D3A45;
    width: 100%;
    height: 100%;
}

.sidebar-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
}

.sidebar-footer .img {
    width: 36px;
    height: 36px;
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(174, 176, 181, 0.314986);
    border-radius: 18px;
}

.cards {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
    padding: 20px;

}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    width: 750px;
    height: 150px;
    padding: 10px 30px; 
    background: #FFFFFF;
    box-shadow: 0px 2px 2px rgba(174, 176, 181, 0.314986);
    border-radius: 6px;
}

.list_1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}

.number {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    line-height: 16px;
    letter-spacing: 0.666667px;
    color: #FFFFFF;
    width: 90px;
    height: 36px;
    background: #20D472;
    border-radius: 18px;
}

.data {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.data span {
    font-size: 20px;
    line-height: 16px;
    color: #2D3A45;
}

.list_2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 30px;
}

.name {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    line-height: 20px;
    letter-spacing: 0.666667px;
    color: #2D3A45;
    font-weight: 500;
}

.tel {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.466667px;
    color: #2D3A45;
    font-weight: 500;
}

.list_3 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 20px;
}

.opertator {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 0px;
}

.opertator span {
    font-size: 11px;
    line-height: 18px;
    letter-spacing: 0.366667px;
    color: #8D9BA8;
}

.opertator p {
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.466667px;
    color: #2D3A45;

}
.imgg{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #E5E5E5;
    box-shadow: 0px 2px 2px rgba(174, 176, 181, 0.314986);
    border-radius: 20px;
}